

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <title>
      {% block title %}
        My CRM System
      {% endblock %}
    </title>
  </head>

  <style>

    html {
      background-color: black;
    }

  </style>
  <body class="container">
    
      <div>
        {% if user.is_authenticated %}
          <a class="contrast" style="font-weight: 600; color: red !important;" href="{% url 'logout' %}">Logout</a>
          <a class="contrast" href="{% url 'dashboard' %}">Dashboard</a>
        {% comment %} {% else %}
          <a class="contrast" href="{% url 'logout' %}">Login</a>
          <a class="contrast" href="{% url 'register' %}">Register</a> {% endcomment %}
        {% endif %}
      </div>
    


    {% block content %}
      <!-- Content of each page will go here -->
    {% endblock %}
  </body>
</html>
