{% extends 'remauto_crm_system/base.html' %}
{% block content %}
  <h1>Добро пожаловать, {{ user.username }}!</h1>
  <h2>Ваши клиенты и заказы:</h2>

  <style> 

    table {
        display: block;
        overflow: scroll;
    }

  </style>
  <!-- Таблица клиентов -->
  {% for client_data in clients_with_orders %}
  <!-- Основная таблица клиента -->
  <table class="container-fluid">
    <tbody>
      <tr>
        <td colspan="4" style="background-color: #2c2d39; text-align: left; padding: 1rem 1rem">
          <h4 style="margin-bottom: 0;">Клиент</h4>
        </td>
      </tr>
      <tr>
        <th>Имя клиента</th>
        <th>Фамилия клиента</th>
        <th>Email</th>
        <th>Телефон</th>
      </tr>
      <tr>
        <td><b>{{ client_data.client.name }}</b></td>
        <td><b>{{ client_data.client.surname }}</b></td>
        <td><b>{{ client_data.client.email|default:"-" }}</b></td>
        <td><b>{{ client_data.client.phone_number|default:"-" }}</b></td>
      </tr>
      <tr>
        <td colspan="4" style="background-color: #2c2d39; text-align: left; padding: 1rem 1rem">
          <h4 style="margin-bottom: 0;">Заказ</h4>
        </td>
      </tr>
      <tr>
        <th>ID</th>
        <th>Название услуги</th>
        <th>Дата создания</th>
        <th>Статус</th>
      </tr>
      {% for order_data in client_data.orders %}
      <tr>
        <td><b>{{ order_data.order.id }}</b></td>
        <td><b>{{ order_data.order.service.name }}</b></td>
        <td><b>{{ order_data.order.create_dt }}</b></td>
        <td>
          {% for status in order_data.statuses %}
          <b>{{ status.get_status_display }}</b>
          {% empty %}
          Нет статусов
          {% endfor %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" style="background-color: #2c2d39; text-align: left;">Нет услуг</td>
      </tr>
      {% endfor %}
      <!-- Форма для добавления услуги -->
      <tr>
        <td colspan="4" style="text-align: center; padding: 1rem;">
          <form method="post" action="{% url 'dashboard' %}">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="add_service">
            <input type="hidden" name="client_id" value="{{ client_data.client.id }}">
            <div>
              <label for="service-{{ client_data.client.id }}">Выберите услугу:</label>
              <select name="service" id="service-{{ client_data.client.id }}" required>
                <option value="" disabled selected>Выберите услугу</option>
                {% for service in service_form.fields.service.queryset %}
                <option value="{{ service.id }}">{{ service.name }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit">Добавить услугу</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  {% empty %}
  <h2 style="color: orange#2c2d39;">Клиентов пока нет</h2>
  {% endfor %}

  <!-- Форма для добавления клиента -->
  <h2>Добавить клиента</h2>
  <form method="post" action="{% url 'dashboard' %}">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="add_client"> <!-- Скрытое поле для идентификации формы -->
    <div>
      {{ form.name.label_tag }}
      {{ form.name }}
      {% if form.name.errors %}
      <div>{{ form.name.errors }}</div>
      {% endif %}
    </div>
    <div>
      {{ form.surname.label_tag }}
      {{ form.surname }}
      {% if form.surname.errors %}
      <div>{{ form.surname.errors }}</div>
      {% endif %}
    </div>
    <div>
      {{ form.phone_number.label_tag }}
      {{ form.phone_number }}
      {% if form.phone_number.errors %}
      <div>{{ form.phone_number.errors }}</div>
      {% endif %}
    </div>
    <div>
      {{ form.email.label_tag }}
      {{ form.email }}
      {% if form.email.errors %}
      <div>{{ form.email.errors }}</div>
      {% endif %}
    </div>
    <div>
      {{ form.services.label_tag }}
      {{ form.services }}
      {% if form.services.errors %}
      <div>{{ form.services.errors }}</div>
      {% endif %}
    </div>
    <button type="submit">Сохранить</button>
  </form>
{% endblock %}
